/* reset styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0; 
    padding: 0;
    border: 0; 
    outline: 0; 
    font-size: 100%;
    vertical-align: baseline; 
    background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

}

/* container - place inside each section or around the entire page depending on your layout */
.container {
    width: 960px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}

/* for clearing any floats <br "clearfloat"> */
.clearfloat {
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

/* ====== Keyframes for Shoutout animation ====== */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  100% {
    opacity: 1; } }

@-webkit-keyframes shoutout {
    0% { opacity: 0; }
    100% { opacity: 1 }
}

@keyframes ellipsis {
  to {
    width: .8em; } }
@-webkit-keyframes ellipsis {
  to {
    width: .8em; } }


h2,h4 {
    color: #444;
}
/* Top Section of page */
.shoutout {
    display: none;
}

.howdy-main
    background-image: url(../images/Multicolor-light.png);
    background-color: #fff;
    background-attachment: fixed;
    width: 100%;

}

.welcome-intro {
    padding: 30px;
}

/* blue howdy. logo at top */
.howdy-logo {
    color:#1432e0;
    text-align: center;
    font-family: "Hind", "freight-sans-pro", sans-serif;
    font-weight: 600;
    font-size: /*170px*/10rem;
    margin: 15px 0 20px 0;
}

/* Entire div with speach bubbles, avatars, text */
.howdy-main .shoutout .tweet {
    text-align: left;
    /*min-width: 75px;*/
}

.howdy-main .shoutout .dots::after {
    overflow: hidden;
    font-size: 4rem;
    display: inline-block;
    vertical-align: bottom;
    /*margin-left: 120px;*/
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026";
    /* ascii code for the ellipsis character */
    width: 0;
}

/* hide ellipsis after 
@keyframes ellipsis {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
*/

.howdy-main .shoutout .highlights {
      -webkit-animation: fadeIn 0.2s 0s forwards;
      animation: fadeIn 0.2s 0s forwards;
}

.welcome-intro .shoutout {
    position: relative;
    display: inline-block;
    width: 90%;
    animation: shoutout 1s;
}

.howdy-main .welcome-intro .bubble {
    /* border: 4px solid #D8117D; */
    /* box-shadow: 20px 20px 0px 0px rgba(158, 3, 158, 0.39); */
    border-radius: 60px 60px 60px 0;
    padding: 30px;
    margin-left: 120px;
    width: 85%;
    line-height: 1.2;

}

.howdy-main .welcome-intro .bubble#lego {
    border:4px solid #D8117D;
    box-shadow: 20px 20px 0px 0px rgba(158, 3, 158, 0.39);
}

.howdy-main .welcome-intro .bubble#confetti {
    border: 4px solid #abdbef;
    box-shadow: 20px 20px 0px 0px rgba(3, 158, 158, 0.39);
}

.howdy-main .welcome-intro .bubble#dude {
    border: 4px solid #abdbef;
    box-shadow: 20px 20px 0px 0px rgba(3, 158, 158, 0.39);
}

.welcome-intro .tweet.lego-avatar {
    background-image: url("../images/lego.png");
    background-size: 80px 80px;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
    left: 25px;
    top: 75%;
}

.welcome-intro .tweet.confetti-avatar {
    background-image: url("../images/confetti.png");
    background-size: 80px 80px;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
    left: 25px;
    top: 75%;
}

.welcome-intro .tweet.dude-avatar {
    background-image: url("../images/dude.jpg");
    background-size: 80px 80px;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
    left: 25px;
    top: 75%;
}

.shoutout h2{
    font-family: "GT-Haptik-Light", "Hind", sans-serif;
    font-weight: 400;
    font-size: /*60px*/3.25rem;
    margin-bottom: 5px;
}

.shoutout h4{
    font-family: "Hind", "GT-Haptik-Light", sans-serif;
    font-weight: 300;
    font-size: /*38px*/2.5rem;
    margin-bottom: 5px;
}

.howdy-main .container {
    width: 100%;
    position: relative;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .shoutout h2{
        font-size: /*60px*/2.25rem;
        margin-bottom: 5px;
    }
    .shoutout h4{
        font-size: /*38px*/1.5rem;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 767px) {
    .howdy-main .welcome-intro .bubble {
        border-radius: 30px 30px 30px 0;
        padding: 15px;
        margin-left: 30px;
        width: 85%;
        line-height: 1.2;

    }

    .welcome-intro .tweet.lego-avatar {
        background-size: 40px 40px;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        left: -15px;
        top: 92%;
        /*bottom: 25px;*/
    }

    #dots .tweet.lego-avatar {
            background-size: 40px, 40px, /*50%;*/
            border-radius: 50%;
            height: 40px;
            width: 40px; */
            left: -15px;
            top: 80%;
            /*bottom: -10px;*/
    }
    .welcome-intro .tweet.confetti-avatar {
        background-size: 40px 40px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        left: -15px;
        top: 92%;
    }

    .welcome-intro .tweet.dude-avatar {
        background-size: 40px 40px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        left: -15px;
        top: 92%;
    }
}