* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'GTHaptikLight';
  font-weight: 300;
  font-style: normal;
  src: url('../font/GT-Haptik-Trial-Light.otf') format('woff2')
}

.index {
  background-image: url(../img/Multicolor-light.png);
  background-attachment: fixed;
  color: rgb(60,60,60);
}

.index p {
  /* style | variant | weight | size/line-height | family */
  font: normal 400 20px/32px "freight-sans-pro";
}

.description {
  background-color: rgba(157,244,233, 0.7);
  min-height: 26.5rem;
}

.botkit-studio {
  background-color: rgb(176,134,250);
  min-height: 16rem;
}

.botkit-studio .emphasis {
  font-weight: bold;
  color: rgb(227,211,254);
  background-color: rgb(60,60,60);
  padding: 0 0.75rem;
  border-radius: 1rem;
}

.headers {
  font-family: 'GTHaptikLight', sans-serif;
}

.headers h1 {
  font-size: 51px;
  line-height: 82px;
}

.headers h3 {
  font-size: 30px;
  line-height: 45px;
}

.content {
  width: 100%;
}

.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.overview>img {
  float: left;
  margin: 1rem 3rem 0 0;
  max-height: 16rem;
}

.overview>p:first-of-type {
  padding-top: 1rem;
}

.info>p:first-of-type {
  padding-top: 0.75rem;
}

.info>p {
  float: left;
  margin: 0;
  max-width: 50rem;
}

.botkit-studio:hover {
  width: 87%;
  transition: all 300ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  position: relative;
}

.botkit-studio:hover::after {
  left: 100%;
  top: 0%;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
	border-top: 128px solid transparent;
	border-left: 128px solid rgb(176,134,250);
	border-bottom: 128px solid transparent;
}

/*button styling*/

.button-container {
  float: right;
}

.button-container p {
  letter-spacing: 0.1rem;
}

.buttons {
  border-radius: 1rem 1rem 1rem 0;
  max-height: 4rem;
  max-width: 16rem;
  padding: 0.5rem 2rem;
  background-color: transparent;
  border-width: 0.25rem;
  position: relative;
  z-index: 1;
}

.buttons:first-of-type {
  margin-right: 1rem;
}

.login, .slack, .signup {
  position: relative;
  z-index: 1;
}

.login p, .slack p {
  font-size: 26px;
}

.signup p {
  font-size: 22px;
  line-height: 36px;
  color: rgb(103,21,240);
}

.login p {
  color: rgb(19,27,128);
}

.slack p {
  color: rgb(123,0,63);
}

.login {
  border-color: rgb(26,34,230);
}

.slack {
  border-color: rgb(236,0,115);
}

.signup {
  border-color: rgb(103,21,240);
}


.overview, .info {
  position: relative;
  z-index: 1;
}

.login::after, .overview::after, .info::after {
  content: " ";
  position: absolute;
  z-index: -1;
  border-radius: 1rem 1rem 1rem 0;
  transition: transform 1s;
}

.login::after {
  padding: 1.75rem 8rem;
  background-color: rgba(255,120,193,0.8);
  transform: translate(6.5rem, -2rem);
}

.overview::after {
  padding: 1.75rem 4.3rem;
  background-color: rgba(138,153,252,0.8);
  transform: translate(29.75rem, 1rem);
}

.info::after {
  padding: 1.75rem 4.5rem;
  background-color: rgba(255,255,255,0.8);
  transform: translate(20.75rem, 1rem);
}

.botkit-studio:hover .info::after {
  transform: translate(20rem, 0rem);
}

/*responsiveness*/

@media only screen and (max-width: 1600px) {
  .botkit-studio:hover {
    transition: none;
    width: 100%
  }
  .botkit-studio:hover::after {
    display: none;
  }
}

@media only screen and (max-width: 1178px) {
  .description {
    min-height: 32rem;
  }
}

@media only screen and (max-width: 1076px) {
  .botkit-studio {
    min-height: 17rem;
  }
}

@media only screen and (max-width: 1020px) {
  .description {
    min-height: 49rem;
  }
  .botkit-studio {
    min-height: 21rem;
  }
  .overview>img {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .headers h1 {
    text-align: center;
  }
  .button-container {
    float: none;
  }
  .button-container button {
    margin: 0 auto;
  }
  .botkit-studio {
    padding-top: 0;
  }
}
