* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'GTHaptikLight';
  font-weight: 300;
  font-style: normal;
  src: url('../font/GT-Haptik-Trial-Light.otf') format('woff2')
}

.index {
  background-image: url(../img/Multicolor-light.png);
  background-attachment: fixed;
  color: rgb(60,60,60);
}
.index p {
  /* style | variant | weight | size/line-height | family */
  font: normal 400 20px/32px "freight-sans-pro";
}

.description {
  background-color: rgba(157,244,233, 0.7);
  min-height: 20rem;
}

.botkit-studio {
  background-color: rgb(176,134,250);
  min-height: 10rem;
}

.headers {
  font-family: 'GTHaptikLight', sans-serif;
}

.content {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.overview>img {
  float: left;
  margin: 0 2rem 0 0;
  max-height: 16rem;
  /*clear: both;*/
}

.overview>p:first-of-type {
  padding-top: 2rem;
}

.overview, .info {
  max-width: 70rem;
}

.info>p:first-of-type {
  padding-top: 0.75rem;
}

.button-container {
  float: right;
}

.info>p {
  float: left;
  margin: 0;
  max-width: 50rem;
}

@media only screen and (max-width: 1020px) {
  .overview>img {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .headers h1 {
    text-align: center;
  }
  .button-container {
    float: none;
  }
  .button-container button {
    display: block;
    margin: 0 auto;
  }
  .botkit-studio {
    padding-top: 0;
  }
}
